html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

header{
    min-height: 75px;
    text-align: center;
    vertical-align: middle;
    background-color: #006666;
}

h1{
    display: inline-block;
    color:black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 255, 221);
}

nav{
    min-height: 75px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(140, 180, 196);
    box-shadow: 
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
}

.przycisk{
	box-shadow:inset 0px 0px 0px 0px #c1fcf4;
	background:linear-gradient(to bottom, #009292 5%, #007070 100%);
	background-color:#006e69;
	border-radius:20px;
	border:1px solid #4faeee;
	display: inline-block;
	cursor:pointer;
	color:rgb(0, 0, 0);
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px rgb(0, 255, 221);
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
    margin:20px;
}

.przycisk:hover {
	background:linear-gradient(to bottom, #00adad 5%, #00d6d6 100%);
	background-color:#05fce7;
}
.przycisk:active {
	position:relative;
	top:1px;
}

article{
    height: 100%;
    min-height: 900px;
    background-color: #006666;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    box-shadow: 
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
}

footer{
    min-height: 50px;
    height:50px;
    width:100%;
    background-color: #006666;
    color:white;
	display: inline-block;
    box-shadow: 
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
}

.content{
    min-height: 500px;
    height: 500px;
    min-width: 500px;
    width:500px;
    background-color: rgb(140, 180, 196);
    margin:50px;
    display:none;
    max-width: 60%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    box-shadow: 
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
}

#visCanvas {
    padding:50px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 400px;
}

#opisP{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 10px;
    text-align: left;
}

h2{
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px rgb(0, 255, 221);
}

img{
    box-shadow: 
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
}

#visCanvas{
    box-shadow: 
    0 0 1px rgb(0, 0, 0),
    0 0 2px rgb(0, 0, 0),
    0 0 4px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
}

#vis{
    min-height: 850px;
    height: 850px;
    min-width: 600px;
}

#wynikDiv{
    color:rgb(0, 0, 0);
    text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px rgb(0, 255, 221);
}